.login-container {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(43, 46, 207, 0.5);
    width: 800px;
    height: 600px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .login-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 50px;
        .title {
            color: #FF0066;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            width: 300px;
        }
        .desc {
            color: #7F8A9C;
            font-family: OpenSans;
            font-size: 18px;
            line-height: 26px;
            width: 300px;
            font-style: italic;
            padding-top: 20px;
        }
        .username, .email, .password, .terms-and-condition, .btn-wrapper {
            margin-top: 20px;
        }

        .terms-and-condition {
            width: 100%;
            font-size: 14px;
            display: flex;
            align-items: center;
            .login-checkbox {
                input[type="checkbox"]:checked + label {
                    background-color: #FF0066;
                    border-color: #FF0066;
                }
                label {
                    background-color: #fff;
                    border-radius: 6px;
                    width: 24px;
                    height: 24px;
                    &:hover {
                        cursor: pointer;
                    }
                    &::after {
                        top: 6px;
                    }
                }
            }
            .text {
                color: #7F8A9C;
                margin-left: 15px;
                span {
                    font-weight: 600;
                    color: #FF0066;
                }
            }
        }

        .btn-wrapper {
            margin-top: 40px;
            width: 100%;
            .signup-btn {
                width: 100%;
                background-image: linear-gradient(135deg, #2B2ECF 0%, #652BCF 100%);
                border-radius: 30px;
                border: none;
                height: 60px;
                color: #fff;
                text-align: left;
                padding-left: 10%;
                font-size: 18px;
                line-height: 20px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .disabled {
            pointer-events: none;
            cursor: not-allowed;
            .signup-btn {
                background-color: #A095E6;
                background-image: none;
            }
        }
    }
    .login-image-wrapper {
        background-image: url(https://marvel-live.freetls.fastly.net/canvas/2021/6/9fd1534c23ac4061a362435b010e91ae?quality=95&fake=.png);
        background-size: 112%;
        width: 50%;
    }
    .logo {
        position: absolute;
        top: 10px;
        right: 10px
    }
}

@media only screen and (max-width: 768px) {
    .login-container {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        .login-form {
            height: 70%;
            width: 100%;
            overflow-y: scroll;
            padding: 40px 20px;
        }
        .login-image-wrapper {
            background-image: url(https://marvel-live.freetls.fastly.net/canvas/2021/6/9257d9bf951c4ad28162bf2a76288e78?quality=95&fake=.png);
            height: 30%;
            width: 100%;
            background-size: 100%;
            background-position-y: bottom;
        }
    }
}
