.sidebar {
    background-image: linear-gradient(135deg, #2B2ECF 0%, #652BCF 100%);
    border-radius: 20px;
    border:none;
    height: 100%;
    width: 100px;
    position: fixed;
    .sidebar-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        width: 100%;
        div {
            margin-bottom: 25px;
            .active {
                position: relative;
                > div {
                    &::after {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        background-color: #FF0066;
                        border-radius: 25px;
                        width: 35px;
                        height: 35px;
                        opacity: 0.5;
                        left: 0;
                        top: 0;
                        transform: translate(-20%, -15%);
                    }
                }
            }
        }
        .navLink {
            > div {
                position: relative;
                .notification-dot {
                    top: -5px;
                    right: -10px;
                    position: absolute;
                    background-color: #FF0066;
                    border-radius: 100%;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    .logo {
        margin: 15px 0 0 15px;
    }
    .logout {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        &:hover {
            cursor: pointer;
        }
    }
}
@media only screen and (max-width: 768px) {
    .sidebar {
        // display: none;
        bottom: 0;
        z-index: 10;
        .logo {
            display: none;
        }
        .sidebar-list {
            flex-direction: row;
            margin-top: 5%;
            justify-content: space-evenly;
            div:nth-child(1) {
                order: 3;
            }
            div:nth-child(2) {
                order: 2;
            }
            div:nth-child(3) {
                order: 4;
            }
            div:nth-child(4) {
                order: 1;
            }
            div:nth-child(5) {
                order: 5;
            }
        }
        height: 60px;
        width: 100%;
        .logout {
            display: none;
        }
    }
}