.text-field {
    // display: flex;
    position: relative;
    width: 100%;
    .icon {
        position: absolute;
        top: 27%;
        left: 3%;
    }
    .input {
        padding-left: 12%;
        width: 100%;
        background-color: #FFFFFF;
        border: 2px solid #C5D3E8;
        border-radius: 6px;
        opacity: 0.6000000238418579;
        height: 50px;
        font-size: 16px;
        color: #7F8A9C;
        font-weight: 600;
        &::placeholder {
            color: #C5D3E8;
            font-style: italic;
        }
    }
    .error {
        color: #FF0066;
        font-weight: 600;
        font-size: 12px;
        text-align: left;
    }
}